/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #1977cc;
    text-decoration: none;
  }
  
  a:hover {
    color: #3291e6;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
 
 /*--------------------------------------------------------------
 # Top Bar
 --------------------------------------------------------------*/
 #topbar {
    background: #fff;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    z-index: 996;
  }
  
  #topbar .contact-info a {
    line-height: 1;
    color: #444444;
    transition: 0.3s;
  }
  
  #topbar .contact-info a:hover {
    color: #1977cc;
  }
  
  #topbar .contact-info i {
    color: #1977cc;
    padding-right: 4px;
    margin-left: 15px;
    line-height: 0;
  }
  
  #topbar .contact-info i:first-child {
    margin-left: 0;
  }
  
  #topbar .social-links a {
    color: #437099;
    padding-left: 15px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }
  
  #topbar .social-links a:hover {
    color: #1977cc;
  }
  
  #topbar .social-links a:first-child {
    border-left: 0;
  }
 
 /*--------------------------------------------------------------
 # Header
 --------------------------------------------------------------*/
 #header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 0;
    top: 40px;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  }
  
 #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 10px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo a {
    color: #2c4964;
  }
  
  #header .logo img {
    max-height: 70px;
    margin-right: 100px;
  }
 
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 8px 0 8px 20px;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #2c4964;
    white-space: nowrap;
    transition: 0.3s;
    border-bottom: 2px solid #fff;
    padding: 5px 2px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #1977cc;
    border-color: #1977cc;
  }
 
  /*--------------------------------------------------------------
 # Home
 --------------------------------------------------------------*/
 #home {
    width: 100%;
    height: 90vh;
    background: url("../../../public/images/bg4.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;      
  }
  
  #home .container {
    position: relative;
  }
  
  #home h1 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #2c4964;
  }
  
  #home h2 {
    color: #2c4964;
    margin: 10px 0 0 0;
    font-size: 24px;
  }
  
  #home .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1977cc;
  }
  
  #home .btn-get-started:hover {
    background: #3291e6;
  } 
 
  
  
 /*--------------------------------------------------------------
 # Footer
 --------------------------------------------------------------*/
 #footer {
    color: #444444;
    font-size: 14px;
    background: #f1f7fd;
    text-align: center;
  }
 
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #444444;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1977cc;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #1c84e3;
    color: #fff;
    text-decoration: none;
  }